*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century;
}
header{
    background-image: url(img/Site\ new\ York.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.logo a{
    color: #fff;
    padding: 0px 20px;
    border: 1px solid #fff ;
    position: absolute;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
}
.logo_vvs{
    color: rgb(17, 230, 230);
    font-weight: bold;
    font-size: 2rem;
}
